.button-favorite {
  @include mixins.reset-button;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 59px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(251, 215, 178, 0.3);
  cursor: pointer;

  @include media.hover {
    background-color: var(--color-orange);

    & > svg {
      color: var(--color-light);
    }
  }

  & > svg {
    color: var(--color-orange);
  }

  &--active {
    background-color: var(--color-orange);

    & > svg {
      color: var(--color-light);
    }
  }

  &--accent-bg {
    background: var(--color-light);
  }
}
