.header {
  padding-block: 30px;
  background: var(--gradient);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__image {
    width: 20.6rem;
    height: 6.3rem;
  }
}
