.title {
  &__header {
    @include mixins.fluid-text(64, 50);
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;

    & > p:first-child {
      --paragraphMarginBottom: 0;
    }

    & > p:last-child {
      color: var(--color-orange);

      & svg {
        width: 3.8rem;
        height: 4.9rem;
      }
    }
  }
}
